### 1. Write a program that takes two numbers (a = 15 , b = 4) and prints their:
### sum,differennce,product,divison,floor division,Modulus

In [13]:
#sum
a=15
b=4
(a+b)

19

In [15]:
#Difference
(a-b)

11

In [17]:
#pruduct
(a*b)

60

In [19]:
#divison
(a/b)

3.75

In [21]:
#floor division
(a//b)

3

In [23]:
#modulus
(a%b)

3

In [5]:
a1=9
b1=2
print(a1%b1)

1

### .........................first task end....................

## 2. Convert the following number (num1 = 10, num2 = 5.6, num3 = 4.43) 
#integer to float
#float to integer
#float to string

In [35]:
 
num1=10
num2=5.6
num3=4.43

In [37]:
# integer to float
print(int(num1))
print(int(num2))
print(int(num3))

10
5
4

In [39]:
# float to integer
print(float(num1))
print(float(num2))
print(float(num3))

10.0
5.6
4.43

In [49]:
# float to string
print(str(num1))
print(str(num2))
print(str(num3))

10
5.6
4.43

In [11]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

## ..................second task end.............

## "3. fruits = [\"apple\", \"banana\", \"cherry\", \"coconut\", \"pineapple\", \"mango\", \"orange\"]
### Print below using indexing

In [67]:
fruit=["apple","banana","cherry","coconut","pineaple","mango","orange"]
fruit

['apple', 'banana', 'cherry', 'coconut', 'pineaple', 'mango', 'orange']

In [69]:
# print first fruit
fruit[0]

'apple'

In [15]:
fruit

NameError: name 'fruit' is not defined

In [71]:
# The last fruit (negative indexing)
fruit[-1]

'orange'

In [73]:
#The fourth fruit
fruit[3]

'coconut'

## 5.Add the number 10 to the end of the list using method nums = [1, 2, 3]

In [79]:
nums=[1,2,3]
nums.append(10)
print(nums

[1, 2, 3, 10]

## 6. Insert the number 99 at index 1 using method nums = [1, 2, 3]

In [86]:
nums=[1,2,3]
nums.insert(1,99)
print(nums)

[1, 99, 2, 3]

## 4. List Slicing numbers = [10, 20, 30, 40, 50] print

In [4]:
num_1=[10,20,30,40,50]
num_1

[10, 20, 30, 40, 50]

In [10]:
# print first three element
num_1[0:3]

[10, 20, 30]

In [101]:
# print last two element 
num_1[3:]

[40, 50]

In [105]:
# Print all elements except the first one
num_1[1:]

[20, 30, 40, 50]

In [107]:
#Print all elements except the last one
num_1[0:4]

[10, 20, 30, 40]

In [12]:
# Print the list in reverse using slicing\n"
num_1[::-1]

[10, 20, 30, 40]

In [121]:
# Print every second element"
num_1[0:5:2]

[10, 30, 50]

7.  Add the elements of another list [4, 5] to the original list using method

In [4]:
nums = [1, 2, 3]
num1=[4,5]
nums.extend(num1)
print(nums)

[1, 2, 3, 4, 5]

8.  Sort the list in ascending order using method

nums = [4, 1, 3, 2]

In [7]:
nums = [4, 1, 3, 2]
nums.sort()
print(nums)

[1, 2, 3, 4]

9. A customer orders several food items. Add the items to a list and then:

order = ["burger", "fries", "coke"]

- Add a new item "ice cream" using append()

- Remove an item "biryani" using remove()

- Show the final order

In [10]:
order = ["burger", "fries", "coke"]
order.append("ice cream")
order

['burger', 'fries', 'coke', 'ice cream']

In [12]:
order.remove("burger")
order

['fries', 'coke', 'ice cream']

10. Track passengers on a bus:
passengers = ["Ali", "Zara", "Ahmed"]

Insert a new passenger "Sara" at position 2

Remove passesnger who got off "Zara"

Reverse the order to show who entered first

In [19]:
passengers= ["Ali", "Zara", "Ahmed"]
passengers.insert(2,"Sara")
passengers

['Ali', 'Zara', 'Sara', 'Ahmed']

In [23]:
passengers.remove("Zara")
passengers

['Ali', 'Sara', 'Ahmed']

In [25]:
passengers.reverse()
passengers

['Ahmed', 'Sara', 'Ali']