Q1.

An e-commerce store stores information about its products in a nested dictionary. The outer dictionary uses product IDs as keys, and the inner dictionary stores product details like name, category, price, and stock quantity. products = { 101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30} }

• Increase the stock of the "Shirt" product (add 50 more units)

• Add a new product (e.g., "Smartphone")

In [20]:
product= { 101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 
      102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 
      103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30} }
product[102]["stock"]+=50
product[104] = {
    "name": "Smartphone",
    "category": "Electronics",
    "price": 699,
    "stock": 100}
print(product)

{101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}, 104: {'name': 'Smartphone', 'category': 'Electronics', 'price': 699, 'stock': 100}}

Q2.

You are given a list that contains some duplicate items. Remove the duplicates

shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

In [22]:
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]
set(shopping_list)

{'apple', 'banana', 'grape', 'orange'}

Q3.

You are managing a list of students enrolled in two different courses. You need to perform various set operations to understand the student enrollment. Task: Create two sets: one for students in "Course A" and one for students in "Course B". Find the students who are in "Course A" but not in "Course B" (difference). Find students who are only in one of the two courses (symmetric difference). 

course_a = {"John", "Alice", "Bob", "David"} 

course_b = {"Alice", "Eve", "Charlie", "David"}

• Find students who are in Course A but not in Course B (difference)

• Find students who are only in one of the two courses (symmetric difference)

In [24]:
course_a = {"John", "Alice", "Bob", "David"}

course_b = {"Alice", "Eve", "Charlie", "David"}

difference=course_a-course_b

print(difference)

{'John', 'Bob'}

In [26]:
symmetric_differnce=course_a.symmetric_difference(course_b)
print(symmetric_differnce)

{'John', 'Bob', 'Eve', 'Charlie'}

Q4.

Write a Python program that calculates the sum of all even numbers between 1 and 50 (inclusive) using a for loop.

Hint

- Initialize a variable to hold the sum (e.g., sum_of_evens).
- Use a for loop to iterate through all numbers from 1 to 50.
- Inside the loop, check if the number is even.
- If the number is even, add it to sum_of_evens.
- After the loop finishes, print the total sum of all even numbers between 1 and 50.

In [13]:
sum_of_evens=0
for i in range(0,50):
    if(i%2==0):
        print("following numbers are even",i)
        sum_of_evens=sum_of_evens+i
print("the total sum of even number is",sum_of_evens)

following numbers are even 0
following numbers are even 2
following numbers are even 4
following numbers are even 6
following numbers are even 8
following numbers are even 10
following numbers are even 12
following numbers are even 14
following numbers are even 16
following numbers are even 18
following numbers are even 20
following numbers are even 22
following numbers are even 24
following numbers are even 26
following numbers are even 28
following numbers are even 30
following numbers are even 32
following numbers are even 34
following numbers are even 36
following numbers are even 38
following numbers are even 40
following numbers are even 42
following numbers are even 44
following numbers are even 46
following numbers are even 48
the total sum of even number is 600

Q5. Power of a Number Write a Python program that takes a number and prints the powers of the number (starting from 1 to 10) using a while loop. For example, if the user inputs 3, the output should be:

3^1 = 3

3^2 = 9

3^3 = 27

... up to 3^10.

In [29]:
num=int(input("enter your number"))
power=0
while power<=10:
    result=num**power
    print(result)
    power+=1

enter your number 2

1
2
4
8
16
32
64
128
256
512
1024

Q6. 

Problem Statement: Write a Python program that takes an integer input from the user and counts down from that number to 0. The program should display the current number at each step until it reaches 0, at which point it should print a message indicating the countdown is finished

Output Hint:

Enter a number to start the countdown: 3

3

2

1

0

Countdown finished!

In [50]:
number=int(input("enter your count down number"))
while number>=0:
     print(number)
     number-=1
print("countdown finished")

enter your count down number 10

10
9
8
7
6
5
4
3
2
1
0
countdown finished

Q7.

Write a Python program that takes a number as input from the user and calculates its factorial using a for loop. The program should display the result to the user.

Example Input/Output:

Input:
5

Output:
The factorial of 5 is 120

In [54]:
number = int(input("Enter a number: "))
factorial = 1

for x in range(1, number + 1):
    factorial *= x

print("Factorial of", number, "is", factorial)

Enter a number:  4

Factorial of 4 is 24

Q8.

Create an empty dictionary called person_info.

Assign the following key-value pairs to the dictionary:

"name": "Alice"

"age": 25

"occupation": "Engineer"

After assigning the values, print the dictionary.

In [60]:
person_info={"name":"Alice","age":25,"occpation":"Engineer"}
person_info

{'name': 'Alice', 'age': 25, 'occpation': 'Engineer'}

Q9. Printing a right-angled triangle pattern (with NESTED while loop)

In [ ]:
* 
* * 
* * * 
* * * * 
* * * * *

In [1]:
i=1
while i<5:
    j=1
    while j<=i:
        print("*",end=" ")
        j+=1
    print()
    i+=1

*
* *
* * *
* * * *

Q10.

Write a Python program that does the following:

Range: Loop through numbers from 1 to 20 (inclusive).

Continue: If the number is divisible by 4, skip that iteration and move to the next number.

Break: If the number is divisible by 7, stop the loop entirely.

For all other numbers, print the number.

In [16]:
for i in range(1,21):
    if(i%7==0):
        break
        if(i%4==0):
            continue
    print(i)

1
2
3
4
5
6